
.profileImage {
    border-radius: 50%;
    overflow: hidden;

}
.blog-header{
   width: 360px;
   height: 200px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

}