.profileImage {
  border-radius: 50%;
  overflow: hidden;
}
.blog-header {
  max-width: 360px;
  max-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
